<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>


<%!
import pytz
from datetime import datetime, timedelta
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.template import RequestContext
from entitlements.models import CourseEntitlement
from third_party_auth import pipeline
from util.date_utils import strftime_localized
from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text

from student.models import CourseEnrollment
from membership.models import VIPInfo
%>
<%block name="title"><title>${_(u"VIP membership")} | ${_(u"Elite Education")}</title></%block>
<link rel="stylesheet" href="${static.url('membership/css/card.css')}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta content="telephone=no,email=no" name="format-detection" />
<a id="card_url" href="${settings.LMS_ROOT_URL + '/login?next=' + reverse('membership_card')}" hidden="hidden"></a>
<a id="vip_status" hidden="hidden">${VIPInfo.is_vip(request.user)}</a>
<div id="card-box-pc" class="card-box">
    <div class="home">
        <header>
            <div class="vip-box">
                <div class="vip-message outer-wrapper">
                    <p class="vip-name">${_(u"Elite MBA VIP membership")}</p>
                    <span class="vip-line"></span>
                    <div class="jq-vip-message">
                        <!--  -->
                        <a class="vip-instro" href="${reverse('membership')}">${_(u"View Introduction")}</a>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<div class="card-choice">
    <div class="choice-padding">
        <ul class="jq-card">
            <!-- 选择会员 -->
        </ul>

        <div class="pay-way">
            <!-- 三角形 -->
            <div class="triangle_border_up">
                <div></div>
            </div>

            <div class="pay-box">
                <div>
                    <p class="pay-left">${_(u"Choose a payment method")}</p>
                    <p class="pay-right"><span>${_(u"Membership Subscription Period")}<span class="vip-name-pay"></span></span>${_(u"Tuition:")}<span class="pay-money-card"></span><span
                            class="pay-money-card01"></span></p>
                </div>

                <ul class="pay">
                    <li class="alipay current">
                        <img src="../static/membership/images/Group.png" alt="" class="imgCurrent">
                    </li>
                    <li class="wehatpay">

                    </li>
                </ul>

                <div class="paybtn">${_(u"Go to payment")}</div>

            </div>
        </div>
    </div>
</div>

<!-- 遮罩层 -->
<div class="eliteu-popup">
    <div class="e-popup-box">
        <div class="e-popup-colse"></div>
        <p class="popup-top-title">${_(u"Complete payment in a new page")}</p>
        <p class="popup-dec">
            ${Text(_(u"{span_start}Please do not close the page {span_end}. Please click the button below accordingly after completing the payment.")).format(
                link_start=HTML('<span>'),
                link_end=HTML('</span>'),
            )}
        </p>
        <div class="popup-btnGrounp">
            <a href="JavaScript:void(0);">${_(u"Choose another payment method")}</a>
            <a href="JavaScript:void(0);">${_(u"payment completed")}</a>
            <a href="JavaScript:void(0);">${_(u"Encounter a problem？")}</a>
        </div>
    </div>
</div>

<div id="card-box-phone" class="card-box">
    <div class="home">
        <header>
            <div class="vip-box">
                <div class="vip-message outer-wrapper">
                    <p class="phone-vip-name">${_(u"Elite MBA VIP membership")}</p>

                    <div class="jq-vip-message">

                    </div>
                </div>
            </div>
        </header>
    </div>
</div>

<!-- h5 -->
<div class="h5-card">

</div>


<!-- h5遮罩层 -->
<div class="h5-popup" style="display: none">
    <div class="content-popup">
        <div class="popup-top">
            <p>${_(u"Choose a payment method")}</p>
            <p>${_(u"Tuition:")}<span class="h5-pay-money"></span><span class="h5-pay-money01"></span></p>
        </div>
        <div class="popup-pay">
            <div class="payway payway-ali">
                <div><span></span><span>${_(u"Alipay")}</span></div>
                <div class="round"></div>
            </div>
            <div class="payway payway-we">
                <div><span></span><span>${_(u"WeChat")}</span></div>
                <div class="round"></div>
            </div>
        </div>
        <div class="h5btn-pay">${_(u"Go to payment")}</div>
    </div>
</div>

<script>
    var isMoblie = function () {
        return navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i);
    }

    if (isMoblie()) {
        //手机
        $(".card-choice").hide();
        $("#card-box-pc").hide()
        $(".h5-card").show();
        $("#card-box-phone").show();

    }
    else {
        //pc
        $(".card-choice").show();
        $("#card-box-pc").show()
        $(".h5-card").hide();
        $("#card-box-phone").hide();
    }

</script>

<script type="text/javascript" src="${static.url('membership/js/pay.js')}"></script>
<script type="text/javascript" src="${static.url('membership/js/card.js')}"></script>
