<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%!
import pytz
from datetime import datetime, timedelta
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.utils.translation import pgettext
from django.template import RequestContext
from entitlements.models import CourseEntitlement
from third_party_auth import pipeline
from util.date_utils import strftime_localized
from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text

from student.models import CourseEnrollment
%>
<%block name="title"><title>${_(u"Membership of Prestige EMBA Courses in America")} | ${_(u"EliteMBA")}</title></%block>
<%block name="head_extra">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta content="telephone=no,email=no" name="format-detection" />
</%block>
<style>
    .window-wrap .content-wrapper{
        padding: 0;
    }
</style>
<link rel="stylesheet" href="${static.url('membership/css/index.css')}" />
<link rel="stylesheet" href="${static.url('membership/libs/jSlider.min.css')}" />
<a href="${reverse('membership_card')}"></a>
<script src="${static.url('membership/libs/jquery.jSlider.min.js')}"></script>

<body id="membership-vip">
    <div class="member-ship-wrap">
        <div class="banner">
            <a href="javascript:;">
                <img class="banner-content banner-pc-img" src="${static.url('membership/images/banner-content.png')}" />
                <img class="banner-content banner-mobile-img" src="${static.url('membership/images/banner-mobile.png')}" />
            </a>
        </div>
        <div class="section  courses-list-wrap">
            <div class="course-list-top">
                <h1 class="section-title">${_(u"Six Course Specializations of Elite MBA School")}</h1>
                <h5 class="slogo">${_(u"Activate your all-round business gene, you alone are a team!")}</h5>
            </div>
            <ul class="course-list pc clearfix">
                
                    <li>
                        <img src="${static.url('membership/images/course/icons8-business@2x.png')}" />
                        <span>${_(u"Business Administration")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-innovation@2x.png')}" />
                        <span>${_(u"Innovation and Entrepreneurship")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-statistics@2x.png')}" />
                        <span>${_(u"Statistic Analysis")}</span>
                    </li>
                
                
                    <li>
                        <img src="${static.url('membership/images/course/icons8-informatics@2x.png')}" />
                        <span>${_(u"Information Technology")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-neutral_trading@2x.png')}" />
                        <span>${_(u"Marketing and Sales")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-shopping_basket_2@2x.png')}" />
                        <span>${_(u"Retail Management")}</span>
                    </li>
                
            </ul>
            <ul class="course-list mobile clearfix">
                <div class="course-group">
                    <li>
                        <img src="${static.url('membership/images/course/icons8-business@2x.png')}" />
                        <span>${_(u"Business Administration")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-innovation@2x.png')}" />
                        <span>${_(u"Innovation and Entrepreneurship")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-statistics@2x.png')}" />
                        <span>${_(u"Statistic Analysis")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-informatics@2x.png')}" />
                        <span>${_(u"Information Technology")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-neutral_trading@2x.png')}" />
                        <span>${_(u"Marketing and Sales")}</span>
                    </li>
                    <li>
                        <img src="${static.url('membership/images/course/icons8-shopping_basket_2@2x.png')}" />
                        <span>${_(u"Retail Management")}</span>
                    </li>
                </div>
            </ul>

            <a class="find-new-course" href="javascript:void(0)">
                ${_(u"Explore Courses")}
            </a>
        </div>
        <div class="section feature-courses-wrap">
            <h1 class="fetrue-courses-title">
                ${_(u"More courses coming soon")}
            </h1>
            <div class="featrue-container">
                <div class="course-cell">
                    <img src="${static.url('membership/images/fetrue-1.png')}" >
                    <h1>${_(u"International Business Law")}</h1>
                    <h5>${_(u"Dr. Ling Zhu")}</h5>
                    <p>${_(u"PhD in Management Information Systems, the University of Arizona, USA")}</p>
                    <p>${_(u"J.D., Fordham University")}</p>
                </div>
                <div class="course-cell">
                    <img src="${static.url('membership/images/fetrue-2.png')}" >
                    <h1>${_(u"Marketing Management and Applications")}</h1>
                    <h5>${_(u"Dr. Tung-lung Steven Chang")}</h5>
                    <p>${_(u"PhD. in International Business/Marketing, the George Washington University, USA")}</p>
                    <p>${_(u"PhD. in Management, National Chengchi University, Taiwan")}</p>
                </div>
                <div class="course-cell">
                    <img src="${static.url('membership/images/fetrue-3.png')}" >
                    <h1>${_(u"Macroeconomics")} <br /> <span class="course-extend">${_(u"(Davidson College)")}</span></h1>
                    <h5>${_(u"Dr. Clark Ross")}</h5>
                    <p>${_(u"PhD. in Economics, Boston College, USA")}</p>
                </div>
            </div>
            <h5 class="fetrue-container-extend">
                ${_(u"*All course updates reserved to EliteMBA and EliteMBA has the final interpretation.")}
            </h5>
        </div>
        <div class="section slider-wrap">
            <div class="slider-wrap-header">
                <h1>${_(u"Best faculties ---- Elite Education")}</h1>
                <p>
                    ${_(u"Professor of American Famous Business Schools")}<br>
                    ${_(u"To build the all-around business knowledge matrix, and systematic learning from zero to one")} 
                </p>
            </div>

            <div id="slider1" class="jSlider" data-navigation="always" data-indicator="always"  data-delay="0">
                <div class=" selected ">
                    <div class="section-block block1">
                        <ul>
                            <li>
                                <div class="professor-image">
                                    <img src="${static.url('membership/images/professor/professor01.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Bochun Xiao")}</h1>
                                <p class="professor-info">${_(u"Lifetime Professor and Dean of Management Major in School of Business, Long Island University - C. W. Post, USA")}</p>
                            </li>
                            <li>
                                <div class="professor-image">
                                     <img src="${static.url('membership/images/professor/professor02.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Lloyd E. Shefsky")}</h1>
                                <p class="professor-info">${_(u"Clinical Professor, Founder and Co-director of the Center for Family Enterprises in Kellogg School of Management at Northwestern University, USA")}</p>
                            </li>
                            <li>
                                <div class="professor-image">
                                     <img src="${static.url('membership/images/professor/professor03.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Prof. Tim Smithe")}</h1>
                                <p class="professor-info">${_(u"Vice President & Chief Management Officer of International Finance Education Association (IFEA)")}</p>
                            </li>
                        </ul>
                       
                    </div>
                </div>
                <div>
                    <div class="section-block block2">
                        <ul>
                            <li>
                                <div class="professor-image">
                                    <img src="${static.url('membership/images/professor/professor04.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Wei Yang")}</h1>
                                <p class="professor-info">${_(u"Lifetime Professor in School of Business,  Long Island University - C. W. Post, USA")}</p>
                            </li>
                            <li>
                                <div class="professor-image">
                                        <img src="${static.url('membership/images/professor/professor05.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Weichun Zhu")}</h1>
                                <p class="professor-info">${_(u"Prior Assistant Professor of School of Labor and Employment Relations, Penn State University Park, USA")}</p>
                            </li>
                            <li>
                                <div class="professor-image">
                                        <img src="${static.url('membership/images/professor/professor06.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Jiamin Wang")}</h1>
                                <p class="professor-info">${_(u"Lifetime Professor in School of Business,  Long Island University - C. W. Post, USA")}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="section-block block3">
                        <ul>
                            <li>
                                <div class="professor-image">
                                    <img src="${static.url('membership/images/professor/professor07.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Ling Zhu")}</h1>
                                <p class="professor-info">${_(u"Lifetime Professor of Information Management & Technology, Long Island University - C. W. Post, USA")}</p>
                            </li>
                            <li>
                                <div class="professor-image">
                                        <img src="${static.url('membership/images/professor/professor08.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Tianning Li")}</h1>
                                <p class="professor-info">${_(u"Associate Professor of Finance and Finance, Hood College, USA")}</p>
                            </li>
                            <li>
                                <div class="professor-image">
                                        <img src="${static.url('membership/images/professor/professor09.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Jianjun Shi")}</h1>
                                <p class="professor-info">${Text(_(u"Prior President and Professor of the University of International Business and Economics {br}")).format(
                                    br=HTML('<br>')
                                )}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="section-block block4">
                        <ul>
                            <li>
                                <div class="professor-image">
                                    <img src="${static.url('membership/images/professor/professor10.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Clark Ross")}</h1>
                                <p class="professor-info">${_(u"Professor of Economics in Davidson College")}</p>
                            </li>
                            <li>
                                <div class="professor-image">
                                    <img src="${static.url('membership/images/professor/professor11.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Elia Kacapyr")}</h1>
                                <p class="professor-info">${_(u"Professor of Economics, Ithaca College, USA")}</p>
                            </li>
                            <li>
                                <div class="professor-image">
                                    <img src="${static.url('membership/images/professor/professor12.png')}" />
                                </div>
                                <h1 class="professor-name">${_(u"Dr. Robert Graham")}</h1>
                                <p class="professor-info">${_(u"Professor of Economics, Hanover College, USA")}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="professor-mobile">
                <ul>
                    <li class="clearfix">
                        <div class="user-img">
                            <img src="${static.url('membership/images/professor/professor01.png')}" />
                        </div>
                        <div class="user-info">
                            <h1 class="professor-name">${_(u"Dr. Bochun Xiao")}</h1>
                            <p class="professor-info">${_(u"Lifetime Professor and Dean of Management Major in School of Business, Long Island University - C. W. Post, USA")}</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="user-img">
                            <img src="${static.url('membership/images/professor/professor02.png')}" />
                        </div>
                        <div class="user-info">
                            <h1 class="professor-name">${_(u"Dr. Lloyd E. Shefsky")}</h1>
                            <p class="professor-info">${_(u"Clinical Professor, Founder and Co-director of the Center for Family Enterprises in Kellogg School of Management at Northwestern University, USA")}</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="user-img">
                            <img src="${static.url('membership/images/professor/professor03.png')}" />
                        </div>
                        <div class="user-info">
                                <h1 class="professor-name">${_(u"Prof. Tim Smithe")}</h1>
                                <p class="professor-info">${_(u"Vice President & Chief Management Officer of International Finance Education Association (IFEA)")}</p>
                        </div>
                    </li>
                    <div class="extend-professor hidden">
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor04.png')}" />
                            </div>
                            <div class="user-info">
                                <h1 class="professor-name">${_(u"Dr. Wei Yang")}</h1>
                                <p class="professor-info">${_(u"Lifetime Professor in School of Business,  Long Island University - C. W. Post, USA")}</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor05.png')}" />
                            </div>
                            <div class="user-info">
                                    <h1 class="professor-name">${_(u"Dr. Weichun Zhu")}</h1>
                                <p class="professor-info">${_(u"Prior Assistant Professor of School of Labor and Employment Relations, Penn State University Park, USA")}</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor06.png')}" />
                            </div>
                            <div class="user-info">
                                <h1 class="professor-name">${_(u"Dr. Jiamin Wang")}</h1>
                                <p class="professor-info">${_(u"Lifetime Professor in School of Business,  Long Island University - C. W. Post, USA")}</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor07.png')}" />
                            </div>
                            <div class="user-info">
                                    <h1 class="professor-name">${_(u"Dr. Ling Zhu")}</h1>
                                    <p class="professor-info">${_(u"Lifetime Professor of Information Management & Technology, Long Island University - C. W. Post, USA")}</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor08.png')}" />
                            </div>
                            <div class="user-info">
                                    <h1 class="professor-name">${_(u"Dr. Tianning Li")}</h1>
                                <p class="professor-info">${_(u"Associate Professor of Finance and Finance, Hood College, USA")}</p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor09.png')}" />
                            </div>
                            <div class="user-info">
                                    <h1 class="professor-name">${_(u"Dr. Jianjun Shi")}</h1>
                                <p class="professor-info">${_(u"Prior President and Professor of the University of International Business and Economics")} </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor10.png')}" />
                            </div>
                            <div class="user-info">
                                    <h1 class="professor-name">${_(u"Dr. Clark Ross")}</h1>
                                <p class="professor-info">${_(u"Professor of Economics in Davidson College")}</p>
                           </div>
                        </li>
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor11.png')}" />
                            </div>
                            <div class="user-info">
                                    <h1 class="professor-name">${_(u"Dr. Elia Kacapyr")}</h1>
                                <p class="professor-info">${_(u"Professor of Economics, Ithaca College, USA")}</p>
                           </div>
                        </li>
                        <li class="clearfix">
                            <div class="user-img">
                                <img src="${static.url('membership/images/professor/professor12.png')}" />
                            </div>
                            <div class="user-info">
                                    <h1 class="professor-name">${_(u"Dr. Robert Graham")}</h1>
                                <p class="professor-info">${_(u"Professor of Economics, Hanover College, USA")}</p>
                           </div>
                        </li>
                    </div>
                    <div class="find-more-professor">
                        ${_(u"View More")} 
                    </div>
                </ul>
            </div>
        </div>
        <div class="section pc vip-list-wrap">
            <h1 class="vip-list-title">${_(u"Become EliteMBA Member")}</h1>
            <h5 class="vip-list-tips">
                ${_(u"Choose appropriate learning duration according to your needs")}
                <br>
                ${_(u"Enjoy learning all courses in the EliteMBA MBA school during the study period，You can join the new class online now!")}
            </h5>
            <ul class="vip-list">
                <li class="current">
                    <div class="vip-header">
                        ${pgettext("Membership", "Full Year")}
                    </div>
                    <div class="vip-body">
                        <div><span class="price-number">¥1199</span><span class="price-trail">.00</span></div>
                        <div class="delete-price">¥2400.00</div>
                        <div class="price-hint">
                            ${_(u"average per month")}¥99.9
                        </div>
                        <div class="item-title">
                            ${_(u"Full-stack workplace practice")}
                        </div>
                    </div>
                    <div class="recommend"></div>
                </li>
                <li>
                    <div class="vip-header">
                        ${pgettext(u"Membership", "Half-Year")}
                    </div>
                    <div class="vip-body">
                        <div><span class="price-number">¥1199</span><span class="price-trail">.00</span></div>
                        <div class="delete-price">¥2400.00</div>
                        <div class="price-hint">
                            ${_(u"average per month")}¥149.8
                        </div>
                        <div class="item-title">
                            ${_(u"Improve Ability Efficiently")}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="vip-header">
                        ${pgettext(u"Membership", "Three-Month")}
                    </div>
                    <div class="vip-body">
                        <div><span class="price-number">¥1199</span><span class="price-trail">.00</span></div>
                        <div class="delete-price">¥2400.00</div>
                        <div class="price-hint">
                            ${_(u"average per month")}¥166.3
                        </div>
                        <div class="item-title">
                            ${_(u"A series of courses for learning")}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="vip-header">
                        ${pgettext(u"Membership", "One-Month")}
                    </div>
                    <div class="vip-body">
                        <div><span class="price-number">¥1199</span><span class="price-trail">.00</span></div>
                        <div class="delete-price">¥2400.00</div>
                        <div class="price-hint">
                           
                        </div>
                        <div class="item-title">
                            ${_(u"Multiple-Course Experience")}
                        </div>
                    </div>
                </li>
            </ul>
            <p class="vip-extend">${_(u"*Now sign up to enjoy the above offers. Please go to the purchase page for details.")}</p>
        </div>
        <div class="section mobile vip-list-wrap">
            <h1 class="vip-list-title">${_(u"Become EliteMBA Member")}</h1>
            <h5 class="vip-list-tips">
                ${_(u"Choose appropriate learning duration according to your needs")}
                <br>
                ${_(u"Enjoy learning all courses in the EliteMBA MBA school during the study period")}
                <br>
                ${_(u"You can join the new class once online")}
            </h5>
            <div class="h5-card">
                <div class="pay-item current">
                    <div class="card-h5-message">
                        <p>${pgettext("Membership", "Full Year")}</p><p>2400</p>
                    </div>
                    <div class="card-h5-money"><span>1199</span><span class="decimal">.00</span><br><span class="month">${_(u"average per month")}¥99.9</span></div>
                    <!-- 推荐图标 -->
                    <div class="h5-recommend"></div>
                </div>
                <div class="pay-item">
                    <div class=" card-h5-message">
                        <p>${pgettext(u"Membership", "Half-Year")}</p><p>1200</p>
                    </div>
                    <div class="card-h5-money"><span>899</span><span class="decimal">.00</span><br><span class="month">${_(u"average per month")}¥149.8</span></div>
                </div>
                <div class="pay-item">
                    <div class="card-h5-message">
                        <p>${pgettext(u"Membership", "Three-Month")}</p><p>600</p>
                    </div>
                    <div class="card-h5-money"><span>499</span><span class="decimal">.00</span><br><span class="month">${_(u"average per month")}¥166.3</span></div>
                </div>
                <div class="pay-item">
                    <div class="card-h5-message">
                        <p>${pgettext(u"Membership", "One-Month")}</p><p>200</p>
                    </div>
                    <div class="card-h5-money"><span>199</span><span class="decimal">.00</span></div>
                </div>
            </div>
            <div class="ad-tips">
                ${_(u"*Now sign up to enjoy the above offers. Please go to the purchase page for details.")}
            </div>
        </div>
        <div class="section vip-characteristic-wrap">
            <h1 class="vip-characteristic-title">${_(u"Learning Feature")}</h1>
            <ul class="characteristic-list">
                <li class="circle-1">
                    <p>${_(u"Video")}</p>
                </li>
                <li class="circle-2">
                    <p>${_(u"Group Chat")}</p>
                </li>
                <li class="circle-3">
                    <p>${_(u"Live Lecture")}</p>
                </li>
                <li class="circle-4">
                    <p>${_(u"Exam")}</p>
                </li>
                <li class="circle-5">
                    <p>${_(u"Credential")}</p>
                </li>
            </ul>
            <div>
                <a class="add-vip-btn" href="javascript:;">${_(u"Become a Member")}</a>
            </div>
            <div class="characteristic-dialog">
                <span class="dialog-text">${_(u"There is a gap called self-discipline outside of 8 hours. Start with the EliteMBA and become a self-disciplined full-stack workplace!")}</span>
                <span class="characteristic-dialog-icon"></span>
                <span class="characteristic-from-who">—— ${_(u"EliteMBA Theory")}</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="${static.url('membership/js/index.js')}"></script>
    <script>
        function getQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
            var r = window.location.search.substr(1).match(reg); 
            if (r != null) return unescape(r[2]); return null; 
        }
    </script>
</body>