<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%!
import pytz
from datetime import datetime, timedelta
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.template import RequestContext
from entitlements.models import CourseEntitlement
from third_party_auth import pipeline
from util.date_utils import strftime_localized
from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text

from student.models import CourseEnrollment
%>
<%block name="title"><title>${_("EliteMBA")} ${_(u"美国名校EMAB精华课程")}</title></%block>
<%block name="head_extra">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
<meta content="telephone=no,email=no" name="format-detection" />
</%block>
<link rel="stylesheet" href="${static.url('membership/css/index.css')}" />
<h1>hello membership</h1>
<a href="${reverse('membership_card')}">${_(u"马上加入")}</button>