@charset 'utf-8';

//常规文字
$normalFont:#656d78;

//黑色文字
$blackFont:#2e313c;

//白色文字
$whiteFont:#fff;

//橙色文字
$orangeFont:#fa7f2b;

//蓝色文字
$buleFont:#4788c7;

//按钮高度
$btnHeight:34px;

//
$greyLine:rgb(238,240,242);
