.card-box {
  width: 100%;
  background: url("../images/card_bg.png") no-repeat;
  background-size: 100%; }
  .card-box .home > header {
    background: none;
    box-shadow: none; }
  .card-box .vip-box {
    max-width: 1200px;
    margin: 0 auto;
    padding: 38px 0 48px 0; }
    .card-box .vip-box .vip-message {
      padding: 28px;
      height: 100px;
      max-width: 939px;
      margin: 0 auto;
      background: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); }
      .card-box .vip-box .vip-message .vip-name {
        font-size: 18px;
        color: #2e313c;
        line-height: 32px; }
      .card-box .vip-box .vip-message .vip-line {
        width: 100%;
        height: 2px;
        display: block;
        background: #eef0f2;
        margin-top: 8px; }
      .card-box .vip-box .vip-message .no-vip {
        float: left;
        font-size: 14px;
        color: #656d78;
        line-height: 78px; }
      .card-box .vip-box .vip-message .vip-basic-inf {
        float: left;
        padding-left: 0px;
        list-style: none; }
        .card-box .vip-box .vip-message .vip-basic-inf li {
          float: left;
          font-size: 14px;
          color: #656d78;
          margin-right: 54px; }
        .card-box .vip-box .vip-message .vip-basic-inf li:nth-of-type(2), .card-box .vip-box .vip-message .vip-basic-inf li:nth-of-type(3) {
          margin-top: 17px; }
        .card-box .vip-box .vip-message .vip-basic-inf li:nth-of-type(3) {
          margin-right: 0px; }
      .card-box .vip-box .vip-message .has-vip-time {
        line-height: 34px; }
        .card-box .vip-box .vip-message .has-vip-time .has-time {
          font-size: 36px;
          color: #4788c7; }
        .card-box .vip-box .vip-message .has-vip-time .has-time.orange {
          color: #fa7f2b; }
      .card-box .vip-box .vip-message .vip-instro {
        width: 90px;
        height: 34px;
        background-color: #4788c7;
        border-radius: 2px;
        border: solid 0px #4788c7;
        color: #fff;
        float: right;
        display: inline-block;
        color: #fff;
        line-height: 34px;
        font-size: 14px;
        text-shadow: none;
        text-align: center;
        margin-top: 22px; }
        .card-box .vip-box .vip-message .vip-instro:hover {
          text-decoration: none;
          background-color: rgba(71, 136, 199, 0.9); }

.card-choice {
  width: 100%;
  background: #feffff;
  padding-top: 32px;
  padding-bottom: 48px; }
  .card-choice .choice-padding {
    max-width: 995px;
    margin: 0 auto; }
    .card-choice .choice-padding ul {
      list-style: none;
      overflow: hidden;
      margin: 0 auto;
      max-width: 824px;
      padding-left: 0; }
      .card-choice .choice-padding ul li {
        height: 264px;
        width: 176px;
        float: left;
        background: #fff;
        margin: 0 14px;
        border-radius: 3px;
        border: 1px solid #b6dcfe;
        position: relative;
        cursor: pointer; }
        .card-choice .choice-padding ul li .vip-card-header {
          border-bottom: 1px solid #b6dcfe;
          height: 60px;
          line-height: 60px;
          background: rgba(182, 220, 254, 0.3); }
          .card-choice .choice-padding ul li .vip-card-header p {
            text-align: center;
            font-size: 18px;
            color: #2e313c; }
        .card-choice .choice-padding ul li .vip-card-body .now-money {
          margin-top: 40px;
          font-size: 14px;
          text-align: center;
          color: #4788c7; }
          .card-choice .choice-padding ul li .vip-card-body .now-money span {
            font-size: 24px; }
        .card-choice .choice-padding ul li .vip-card-body .old-money {
          font-size: 14px;
          color: #656d78;
          text-align: center;
          text-decoration: line-through;
          margin-top: 24px;
          margin-bottom: 24px; }
        .card-choice .choice-padding ul li .vip-card-body .become-vip {
          height: 34px;
          color: #4788c7;
          width: 100px;
          border: 1px solid #4788c7;
          text-align: center;
          line-height: 34px;
          margin: 0 auto;
          border-radius: 4px;
          margin-top: 20px;
          background: rgba(182, 220, 254, 0.3); }
      .card-choice .choice-padding ul li.current {
        border: 1px solid #ffe4d1; }
        .card-choice .choice-padding ul li.current .vip-card-header {
          border-bottom: 1px solid #ffe4d1;
          background: rgba(255, 228, 209, 0.3); }
        .card-choice .choice-padding ul li.current .vip-card-body .now-money {
          color: #fa7f2b; }
        .card-choice .choice-padding ul li.current .vip-card-body .become-vip {
          border: 1px solid #fa7f2b;
          color: #fa7f2b;
          background: rgba(255, 228, 209, 0.3); }
  .card-choice .pay-way {
    height: 242px;
    width: 100%;
    margin-top: 2px;
    position: relative;
    overflow: hidden; }
    .card-choice .pay-way .triangle_border_up {
      width: 0;
      height: 0;
      border-left: 24px solid transparent;
      border-right: 24px solid transparent;
      border-bottom: 24px solid #e2e6ec;
      position: absolute;
      left: 164px; }
      .card-choice .pay-way .triangle_border_up div {
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid #fff;
        position: absolute;
        left: -30px;
        top: 2px; }
    .card-choice .pay-way .pay-box {
      height: 217px;
      width: 100%;
      background: #fff;
      border: 1px solid #e2e6ec;
      margin-top: 24px;
      box-sizing: border-box;
      padding: 28px; }
      .card-choice .pay-way .pay-box div {
        height: 24px; }
        .card-choice .pay-way .pay-box div .pay-left {
          float: left; }
        .card-choice .pay-way .pay-box div .pay-right {
          float: right;
          margin-top: 0;
          color: #656d78;
          font-size: 14px; }
          .card-choice .pay-way .pay-box div .pay-right span:nth-of-type(1) {
            margin-right: 30px;
            color: #656d78; }
          .card-choice .pay-way .pay-box div .pay-right span:nth-of-type(2) {
            color: #fa7f2b;
            font-size: 24px; }
          .card-choice .pay-way .pay-box div .pay-right span:nth-of-type(3) {
            color: #fa7f2b; }
      .card-choice .pay-way .pay-box .pay {
        padding-left: 0;
        list-style: none;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 20px; }
        .card-choice .pay-way .pay-box .pay li {
          width: 186px;
          height: 62px;
          margin-left: 0px;
          background-color: #ffffff;
          border-radius: 4px;
          border: solid 1px #e6e9ed; }
        .card-choice .pay-way .pay-box .pay li.current {
          border-color: #4788c7; }
        .card-choice .pay-way .pay-box .pay .alipay {
          margin-right: 26px;
          background: url("../images/ALIPAY.png") no-repeat center;
          background-size: 116px; }
        .card-choice .pay-way .pay-box .pay .wehatpay {
          background: url("../images/WECHATPAY.png") no-repeat center;
          background-size: 146px; }
      .card-choice .pay-way .pay-box .paybtn {
        width: 100px;
        height: 34px;
        background-color: #fa7f2b;
        border-radius: 2px;
        border: solid 0px #fa7f2b;
        color: #fff;
        text-align: center;
        line-height: 34px;
        font-size: 14px;
        cursor: pointer; }

.recommend {
  width: 45px;
  height: 41px;
  background: url("../images/recommend.png") no-repeat top;
  position: absolute;
  left: -2px;
  top: -2px;
  background-size: 45px 41px; }

.eliteu-popup {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 0;
  top: 0;
  display: none; }
  .eliteu-popup .e-popup-box {
    width: 500px;
    height: 220px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px 0px rgba(46, 49, 60, 0.41);
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -110px; }
  .eliteu-popup .e-popup-colse {
    position: absolute;
    width: 15px;
    height: 15px;
    background: url("../images/close.png") no-repeat center top;
    right: 16px;
    top: 16px;
    cursor: pointer;
    background-size: 15px; }
  .eliteu-popup .popup-top-title {
    text-align: center;
    font-size: 16px;
    color: #2e313c;
    margin-top: 30px;
    margin-bottom: 26px; }
  .eliteu-popup .popup-dec {
    text-align: center;
    font-size: 14px;
    color: #656d78;
    margin-bottom: 48px; }
    .eliteu-popup .popup-dec span {
      color: #fa7f2b; }
  .eliteu-popup .popup-btnGrounp {
    width: 316px;
    margin: 0 auto;
    background: #000;
    font-size: 14px; }
    .eliteu-popup .popup-btnGrounp a {
      display: inline-block;
      height: 32px;
      line-height: 32px; }
      .eliteu-popup .popup-btnGrounp a:hover {
        text-decoration: none; }
    .eliteu-popup .popup-btnGrounp a:nth-of-type(1) {
      float: left;
      border: 1px solid #4788c7;
      background-color: #f7fbfe;
      color: #4a8ac8;
      padding: 0 10px;
      margin-right: 12px; }
    .eliteu-popup .popup-btnGrounp a:nth-of-type(2) {
      float: left;
      margin: 0 auto;
      width: 90px;
      padding: 0 18px;
      background: #4788c7;
      color: #fff;
      text-align: center;
      height: 34px;
      line-height: 34px; }
    .eliteu-popup .popup-btnGrounp a:nth-of-type(3) {
      float: right; }

#card-box-phone {
  height: 133px;
  background-size: 100% 133px;
  margin-top: -20px; }
  #card-box-phone .home > header {
    padding-bottom: 6px; }
  #card-box-phone .vip-box {
    width: 100%;
    padding: 0 4%;
    box-sizing: border-box;
    margin-top: 14px; }
    #card-box-phone .vip-box .vip-message {
      padding-top: 14px;
      padding-bottom: 14px;
      height: 66px; }
      #card-box-phone .vip-box .vip-message .vip-basic-inf {
        margin-top: 0; }
        #card-box-phone .vip-box .vip-message .vip-basic-inf li:nth-of-type(1) {
          width: 100%;
          margin-right: 0;
          text-align: center; }
        #card-box-phone .vip-box .vip-message .vip-basic-inf li:nth-of-type(2), #card-box-phone .vip-box .vip-message .vip-basic-inf li:nth-of-type(3) {
          margin-top: 0px; }
        #card-box-phone .vip-box .vip-message .vip-basic-inf .has-time {
          font-size: 24px; }
      #card-box-phone .vip-box .vip-message .no-vip {
        line-height: 40px; }
    #card-box-phone .vip-box .phone-vip-name {
      color: #4788c7;
      font-size: 14px; }

.h5-card {
  width: 100%;
  padding: 4% 4%;
  height: auto;
  background: #fff;
  box-sizing: border-box; }
  .h5-card > div {
    margin-bottom: 4%;
    height: 82px;
    border: 1px solid #b6dcfe;
    border-radius: 3px;
    background: rgba(182, 220, 254, 0.3);
    position: relative; }
  .h5-card > div.current {
    border: 1px solid #ffe4d1;
    background: rgba(255, 228, 209, 0.3); }
    .h5-card > div.current .card-h5-money {
      color: #fa7f2b; }
  .h5-card .h5-recommend {
    width: 45px;
    height: 41px;
    background: url("../images/recommend.png") no-repeat top;
    background-size: 45px 41px;
    position: absolute;
    left: -2px;
    top: -2px; }
  .h5-card .card-h5-message {
    float: left;
    margin-left: 28px; }
    .h5-card .card-h5-message p:nth-of-type(1) {
      color: #2e313c;
      font-size: 18px;
      margin-top: 18px; }
    .h5-card .card-h5-message p:nth-of-type(2) {
      color: #656d78;
      font-size: 14px;
      margin-top: 10px;
      text-decoration: line-through; }
  .h5-card .card-h5-money {
    float: right;
    margin-right: 28px;
    font-size: 14px;
    color: #4788c7;
    margin-top: 33px; }
    .h5-card .card-h5-money span {
      font-size: 24px; }

.h5-popup {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.3); }
  .h5-popup .content-popup {
    height: 230px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0; }
    .h5-popup .content-popup .popup-top {
      height: 54px;
      width: 100%;
      padding: 0 8%;
      background: #f5f7fa;
      box-sizing: border-box; }
      .h5-popup .content-popup .popup-top p {
        font-size: 14px;
        line-height: 54px; }
      .h5-popup .content-popup .popup-top p:nth-of-type(1) {
        float: left;
        color: #2e313c;
        margin-top: 0; }
      .h5-popup .content-popup .popup-top p:nth-of-type(2) {
        float: right;
        color: #656d78;
        margin-top: 0;
        line-height: 46px; }
        .h5-popup .content-popup .popup-top p:nth-of-type(2) span {
          color: #fa7f2b;
          font-size: 24px; }
    .h5-popup .content-popup .popup-pay {
      padding: 0 8%;
      background: #fff;
      width: 100%;
      height: 128px;
      box-sizing: border-box;
      color: #2e313c; }
      .h5-popup .content-popup .popup-pay .payway-we {
        height: 64px;
        line-height: 64px; }
        .h5-popup .content-popup .popup-pay .payway-we div:nth-of-type(1) {
          float: left; }
          .h5-popup .content-popup .popup-pay .payway-we div:nth-of-type(1) span {
            float: left; }
          .h5-popup .content-popup .popup-pay .payway-we div:nth-of-type(1) span:nth-of-type(1) {
            display: inline-block;
            width: 32px;
            height: 31px;
            background: url("../images/h5-we.png") no-repeat center;
            background-size: 32px 31px;
            margin-top: 17px;
            margin-right: 20px; }
          .h5-popup .content-popup .popup-pay .payway-we div:nth-of-type(1) span:nth-of-type(2) {
            display: inline-block; }
        .h5-popup .content-popup .popup-pay .payway-we div:nth-of-type(2) {
          float: right;
          width: 16px;
          height: 16px;
          background: url("../images/Normal.png") no-repeat center;
          background-size: 16px 16px;
          margin-top: 25px; }
      .h5-popup .content-popup .popup-pay .payway-ali {
        height: 64px;
        line-height: 64px; }
        .h5-popup .content-popup .popup-pay .payway-ali div:nth-of-type(1) {
          float: left; }
          .h5-popup .content-popup .popup-pay .payway-ali div:nth-of-type(1) span {
            float: left; }
          .h5-popup .content-popup .popup-pay .payway-ali div:nth-of-type(1) span:nth-of-type(1) {
            display: inline-block;
            width: 31px;
            height: 31px;
            background: url("../images/h5-ali.png") no-repeat center;
            background-size: 31px 31px;
            margin-top: 17px;
            margin-right: 20px; }
          .h5-popup .content-popup .popup-pay .payway-ali div:nth-of-type(1) span:nth-of-type(2) {
            display: inline-block; }
        .h5-popup .content-popup .popup-pay .payway-ali div:nth-of-type(2) {
          float: right;
          width: 16px;
          height: 16px;
          background: url("../images/Normal.png") no-repeat center;
          background-size: 16px 16px;
          margin-top: 25px; }
    .h5-popup .content-popup .h5btn-pay {
      height: 48px;
      background: #fa7f2b;
      color: #fff;
      font-size: 14px;
      line-height: 48px;
      text-align: center; }

/*# sourceMappingURL=card.css.map */
